doctype html
html
    style().
        .header{
            background-color:orange;
        }

        .main{
            background-color:yellow;
        }

        .footer{
            background-color:green;
        }

        div{
            font-size:20px;
        }

        .all{
            max-width:900px;
            margin: auto;
        }

        .header, .main, .footer, img{
            width:100%;
        }

        body{
            margin: 0;
        } 

    body
        .all
            .header
                ヘッダー<br/>
                あいえおかきくけこ
                あいえおかきくけこ
                あいえおかきくけこ
                あいえおかきくけこ
                あいえおかき
            .main
                メインコンテンツ<br/>
                img(src="https://placehold.jp/640x427.png")
                <br/>
                メインコンテンツ<br/>
                メインコンテンツ<br/>
                メインコンテンツ<br/>
                メインコンテンツ<br/>
                メインコンテンツ<br/>
                メインコンテンツ
            .footer
                フッター</br>
                フッター</br>
                フッター</br>
                フッター

