extends layout
block append style
  style().
    #monitor-wrapper{
      padding-left:30px;
    }

    #monitor > img {
      transform: rotate(90deg);
    }

    #controller_wrapper{
      background: #42aaf4;
      width:300px;
      height: 150px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .controller_button{
        margin: 1%;
        padding: 0;
        width:30%;
        height:30%;
        background: #c97796;
        text-align: center;
        color: white;
        border-radius: 10px;
    }

    .dummy_button{
        margin: 1%;
        padding: 0;
        width:30%;
        height:30%;
    }


block title
  title レゴカー
block content
  .container
    .row(style={"background-color":"#00ff00"}) 
      //カメラとコントローラー
      .col-md-9(style={"background-color":"red"})
        //カメラ
        #monitor-wrapper
          #monitor
            img(src="https://placehold.jp/240x320.png")
        //コントローラー
        #controller_wrapper
          .dummy_button
          button.controller_button#wButton 前進:W
          .dummy_button
          button.controller_button#wButton 左折:A
          .dummy_button
          button.controller_button#wButton 右折:D
          .dummy_button
          button.controller_button#wButton 後退:S
      //未開拓地域
      .col-md-3(style={"background-color":"yellow"})
      