//nav-barの設定
nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-primary.fixed-top
  button.navbar-toggler.navbar-toggler-right(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
    span.navbar-toggler-icon
  //Brnad
  a.navbar-brand.navbar-inverse(style={"color":"white"})
    img(src="images/rogo.png",width="50",height="50")
    |レゴカーコントローラー
  //navに表示する要素
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item: a.nav-link(href="/controller?mode=WLAN") 
        button.btn.btn-outline-warning#whichConnectToLAN.active(type="button",data-toggle="button",aria-pressed="false",autocomplete="off",onclick="location.href='/controller?mode=LAN'") 自宅モード
      li.nav-item: a.nav-link(href="/controller?mode=WLAN") 
        button.btn.btn-outline-warning#whichConnectToWAN(type="button",data-toggle="button",aria-pressed="false",autocomplete="off",onclick="location.href='/controller?mode=WAN'") お外モード
    //span.navbar-text 環境をえらんでね
  //
