//nav-barの設定
nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary.fixed-top
  //button.navbar-toggler.navbar-toggler-right(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
    span.navbar-toggler-icon
  //Brnad
  a.navbar-brand.navbar-inverse(style={"color":"white"})
    img(src="images/rogo.png",width="50",height="50")
    レゴカー
  //navに表示する要素
  
  //.collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item: a.nav-link(href="#") 要素1
      li.nav-item: a.nav-link(href="#") 要素2
      li.nav-item: a.nav-link(href="#") 要素3
  //