doctype html
html
    p このページは、cssで検証結果を管理しているページです。

    h2 iPhone6用の画面を作成する。


    p: a(href="./sampleresponsive2") viewportの指定なし
    p: a(href="./sampleresponsive3") viewportの指定あり

    ul
        li: a(href="./practicecss") 検証

    